# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Never commit real secrets
*.auto.tfvars
secret.tfvars

# OS
.DS_Store
Thumbs.db
